Repository Team-GitGud/node-race, pull requests merged in 2025-08, with the labels that each got.

#43 feature(backend): backend tree generation (#issue 24)
  backend/src/tree-management/node.ts
  backend/src/tree-management/tree.ts
  backend/test/tree.test.ts
  backend/tsconfig.json
Labels: backend

#49 feature (frontend): QuestionView component w/ Question types for demo (issue #39)
  frontend/src/components/TreeNode.vue
  frontend/src/router/index.ts
  frontend/src/types/Node.ts
  frontend/src/types/Question.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend

#51 feature(frontend): prepared general site wide styles and themes (issue: #40)
  frontend/src/assets/styles/main.css
  frontend/src/main.ts
Labels: frontend

#59 feature(frontend): Updated the HomeView component to match latest Figma design (issue: #38)
  frontend/src/App.vue
  frontend/src/assets/home_page_as_image.png
  frontend/src/assets/styles/main.css
  frontend/src/views/HomeView.vue
Labels: frontend

#52 feature(backend): Jacob lum/create tree solver #36
  backend/src/tree-management/inorderBFS.ts
  backend/src/tree-management/inorderDFS.ts
  backend/src/tree-management/postorderBFS.ts
  backend/src/tree-management/postorderDFS.ts
  backend/src/tree-management/preorderBFS.ts
  backend/src/tree-management/preorderDFS.ts
  backend/src/tree-management/solveTree.ts
  backend/src/tree-management/tree.ts
  backend/test/tree.test.ts
Labels: backend

#63 feat(backend): Added the player class skeleton
  backend/src/data-access/player.ts
Labels: backend

#66 feat(backend/docs): Created an API specification.
  docs/backend/api-specification.md
Labels: backend

#70 feature(backend): initial class for timer (issue #61)
  backend/src/data-access/timer.ts
Labels: backend

#71 feature(backend): create backend gamelogic class (#62)
  backend/src/session-logic/game-logic.ts
  backend/src/session-logic/gameLogic.ts
  backend/src/session-logic/question.ts
  backend/src/tree-management/inorderBFS.ts
  backend/src/tree-management/postorderBFS.ts
  backend/test/gameLogic.test.ts
Labels: backend

#81 feature(integration): Preparing join and host functions for API Manager (issue #73)
  backend/src/api/apiResponseFactory.ts
  frontend/src/router/index.ts
  frontend/src/types/APIManager.ts
  frontend/src/types/HostSession.ts
  frontend/src/types/Player.ts
  frontend/src/types/PlayerSession.ts
  frontend/src/types/Session.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/HostView.vue
  frontend/src/views/JoinView.vue
Labels: integration

#87 Created adapters to convert trees from the API to the frontend system. Created methods to process kick and start events for players.
  frontend/src/components/TreeNode.vue
  frontend/src/types/APIManager.ts
  frontend/src/types/HostSession.ts
  frontend/src/types/PlayerSession.ts
  frontend/src/types/Question.ts
  frontend/src/types/QuestionAdapter.ts
  frontend/src/types/tree/Node.ts
  frontend/src/types/tree/Tree.ts
  frontend/src/types/tree/TreeAdapter.ts
  frontend/src/views/QuestionNavigationView.vue
  frontend/src/views/QuestionView.vue
  frontend/tests/unit/Node.spec.ts
  frontend/tests/unit/Question.spec.ts
  frontend/tests/unit/QuestionAdapter.spec.ts
  frontend/tests/unit/Tree.spec.ts
  frontend/tests/unit/TreeAdapter.spec.ts
  frontend/tests/unit/example.spec.ts
Labels: integration

#88 feature(frontend): Create the Join Screen and Popup based on Figma Designs (issue: #75)
  frontend/src/assets/styles/main.css
  frontend/src/components/ModalPopup.vue
  frontend/src/router/index.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/JoinView.vue
  frontend/src/views/PlayerLobbyView.vue
Labels: frontend

#89 feature(frontend): creating loading screen component. (issue #85)
  frontend/src/App.vue
  frontend/src/components/ConnectionStatus.vue
  frontend/src/components/LoadingScreen.vue
  frontend/src/types/APIManager.ts
Labels: frontend

#90 bug(frontend): fixing merge typo.
  frontend/src/router/index.ts
Labels: frontend

#98 fix(frontend): Hosting a lobby was not working. Now fixed
  frontend/src/types/APIManager.ts
Labels: integration

#147 feature(backend): send endgame message to frontend on game end
  backend/src/api/api.ts
  backend/src/api/apiResponseFactory.ts
  backend/src/data-access/lobby.ts
  backend/src/data-access/player.ts
  backend/src/data-access/timer.ts
  backend/test/apitest.js
  docs/backend/api-specification.md
Labels: backend

#155 Question answers are being sent to the backend for each player.
  frontend/src/types/PlayerSession.ts
  frontend/src/types/QuestionAdapter.ts
  frontend/src/views/QuestionView.vue
Labels: integration

#160 Leaderboard implemented with backend functionality.
  .prettierc
  backend/src/api/api.ts
  docs/backend/api-specification.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/correct.svg
  frontend/src/assets/incorrect.svg
  frontend/src/assets/styles/main.css
  frontend/src/components/LeaderboardComponent.vue
  frontend/src/components/LeaderboardQuestionCard.vue
  frontend/src/components/LogoComponent.vue
  frontend/src/components/PlayerRank.vue
  frontend/src/components/QuestionCard.vue
  frontend/src/types/PlayerSession.ts
  frontend/src/types/QuestionAdapter.ts
  frontend/src/types/Session.ts
  frontend/src/views/LeaderboardView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend, integration
