Repository Team-GitGud/node-race, pull requests merged in 2025-09, with the labels that each got.

#198 feature(backend)prepare api endpoints in the backend for the leaderboard #167
  backend/src/api/api.ts
  backend/src/api/apiResponseFactory.ts
  backend/src/data-access/db.ts
  backend/src/data-access/lobby.ts
  docs/backend/api-specification.md
Labels: backend

#205 bug(backend): ensure answers for a question cannot be submitted multiple times(issue #188)
  backend/src/api/api.ts
  backend/src/data-access/lobby.ts
  backend/src/data-access/player.ts
Labels: backend

#210 feature(frontend): practice/single player mode (issue #206)
  frontend/src/components/ReturnHomeComponent.vue
  frontend/src/router/index.ts
  frontend/src/shims-vue.d.ts
  frontend/src/types/APIManager.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/PracticeView.vue
Labels: frontend

#215 make an api endpoint to get only the global leaderboard (issue #214)
  backend/src/api/api.ts
Labels: backend

#217 make the api leaderboard response match the spec (issue #216)
  backend/src/api/api.ts
  backend/src/api/apiResponseFactory.ts
  docs/backend/api-specification.md
Labels: backend

#227 Fixing issues in question view and getting the leaderboard to fully work.
  .prettierc
  backend/src/api/api.ts
  backend/src/api/apiResponseFactory.ts
  backend/src/data-access/lobby.ts
  docs/backend/api-specification.md
  frontend/src/components/LeaderboardComponent.vue
  frontend/src/components/LeaderboardQuestionCard.vue
  frontend/src/components/PlayerRank.vue
  frontend/src/components/QuestionCard.vue
  frontend/src/components/TreeNode.vue
  frontend/src/shims-vue.d.ts
  frontend/src/types/APIManager.ts
  frontend/src/types/GameTimer.ts
  frontend/src/types/HostSession.ts
  frontend/src/types/Player.ts
  frontend/src/types/PlayerSession.ts
  frontend/src/types/QuestionAdapter.ts
  frontend/src/types/Session.ts
  frontend/src/types/usePlayerSession.ts
  frontend/src/views/HostView.vue
  frontend/src/views/LeaderboardView.vue
  frontend/src/views/PlayerLobbyView.vue
  frontend/src/views/QuestionNavigationView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend, integration

#248 feature(frontend): Make tutorial accessible from practice/question views (issue #242)
  frontend/src/assets/styles/main.css
  frontend/src/components/TimerComponent.vue
  frontend/src/components/TutorialPopup.vue
  frontend/src/views/PracticeView.vue
  frontend/src/views/QuestionNavigationView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend

#262 recalibrate scoring system and make scores integers (Issue #254, Issue #255)
  backend/src/data-access/player.ts
Labels: backend

#258 Jacob lum/final question is not a difficult question (issue #251)
  backend/src/session-logic/gameLogic.ts
Labels: backend

#263 Fixed issues within the leaderboard and game view.
  .gitignore
  frontend/src/components/LeaderboardComponent.vue
  frontend/src/components/LeaderboardQuestionCard.vue
  frontend/src/components/PlayerRank.vue
  frontend/src/components/TimerComponent.vue
  frontend/src/components/TreeNode.vue
  frontend/src/router/index.ts
  frontend/src/types/APIManager.ts
  frontend/src/types/GameTimer.ts
  frontend/src/types/InactivityChecker.ts
  frontend/src/types/Player.ts
  frontend/src/types/PlayerSession.ts
  frontend/src/types/Session.ts
  frontend/src/views/LeaderboardView.vue
  frontend/src/views/QuestionReviewView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend, integration

#267 feat(frontend): Add persistency of Analytics view after Game End #261
  frontend/src/assets/home_page_as_image.png
  frontend/src/assets/home_page_as_image_no_text.png
  frontend/src/assets/home_page_as_image_no_tree.png
  frontend/src/components/ScreenBackground.vue
  frontend/src/types/APIManager.ts
  frontend/src/types/useHostSession.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/HostView.vue
  frontend/src/views/PracticeView.vue
  frontend/src/views/QuestionView.vue
Labels: frontend

#268 fix(navigation): Showing the timer on navigation screen now
  frontend/src/types/PlayerSession.ts
  frontend/src/views/QuestionNavigationView.vue
Labels: frontend
