Repository Team-GitGud/node-race, pull requests merged in 2025-07, with the labels that each got.

#9 chore(frontend): setup vue project and file structure (issue #2)
  frontend/.gitignore
  frontend/README.md
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/registerServiceWorker.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue.d.ts
  frontend/src/views/HomeView.vue
  frontend/temp
  frontend/tests/unit/example.spec.ts
  frontend/tsconfig.json
  frontend/vue.config.js
Labels: frontend

#13 feat(prototype): created a prototype and updated the README
  README.md
  docs/images/Prototype-GameScreen.png
Labels: frontend

#28 chore(frontend): Updated jest and added webpack-env dev dependencies to resolve errors (issue #26).
  .gitignore
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#30 feature(frontend): created initial version of a button component (issue #18)
  frontend/public/index.html
  frontend/src/App.vue
  frontend/src/components/CustomButton.vue
  frontend/src/views/HomeView.vue
Labels: frontend

#31 feature(frontend/backend): created a component indicating frontends connection status to the backend (issue #17)
  backend/package-lock.json
  backend/package.json
  backend/src/api/api.ts
  frontend/.env.production
  frontend/.gitignore
  frontend/src/components/ConnectionStatus.vue
  frontend/src/views/HomeView.vue
Labels: integration

#42 chore(backend): set up unit tests backend #33
  backend/package-lock.json
  backend/package.json
  backend/readme.md
  backend/test/demo.test.ts
Labels: backend

#46 feature(backend): setup backend hosting/deploying on a server.
  backend/deploy.sh
  backend/src/api/api.ts
  docs/backend/hosting.md
  frontend/.env.production
Labels: backend

#48 feature(backend hosting): setup ngrok for https backend setup (issue #47)
  backend/deploy.sh
  docs/backend/hosting.md
  frontend/.env.production
Labels: backend
